# Apps Script / clasp
appscript/.clasp.json
appscript/clasp-auth.json

# IDEs
.idea/
.vscode/

# Logs
logs/
*.log

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Google Antigravity
.google
.goog
.antigravity

# Secrets
appscript/Secrets.js
